*.class
**/target
**/webapp/userfiles
**/WEB-INF/classes
**/logs/log*.log

.classpath
.project

.idea
*.ipr
*.iml
*.iws
*.lic
rebel.xml
/.factorypath
/.springBeans
/target/
/.apt_generated/
/bin/
/.apt_generated_tests/
hs_err_pid*.log
replay_pid*.log

# solo 跑题副产（勿提交）
run.log
run.err.log
run.pid

