<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('预审前改单')"/>
    <style>
        .mainBox { padding: 18px 20px 0 20px; }
        .bottom { padding: 10px 20px 20px 20px; text-align: center; }
        .layui-form-label { width: 100px; }
        .layui-input-block { margin-left: 130px; }
    </style>
</head>
<body>
<form class="layui-form" th:object="${bill}">
    <input type="hidden" name="id" th:value="*{id}">
    <div class="mainBox">
        <div class="layui-form-item">
            <label class="layui-form-label">报批单号</label>
            <div class="layui-input-block">
                <input disabled type="text" th:value="*{billNo}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">品种</label>
            <div class="layui-input-block">
                <select name="chemName">
                    <option value="盐酸" th:selected="${bill.chemName=='盐酸'}">盐酸</option>
                    <option value="丙酮" th:selected="${bill.chemName=='丙酮'}">丙酮</option>
                    <option value="硫酸" th:selected="${bill.chemName=='硫酸'}">硫酸</option>
                    <option value="高锰酸钾" th:selected="${bill.chemName=='高锰酸钾'}">高锰酸钾</option>
                    <option value="其他三类" th:selected="${bill.chemName=='其他三类'}">其他三类</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数量</label>
            <div class="layui-input-inline" style="width:150px;">
                <input type="number" step="0.01" min="0.01" name="qty" th:value="*{qty}" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width:110px;">
                <select name="unit">
                    <option value="吨" th:selected="${bill.unit=='吨'}">吨</option>
                    <option value="公斤" th:selected="${bill.unit=='公斤'}">公斤</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用途</label>
            <div class="layui-input-block">
                <textarea name="purpose" class="layui-textarea" th:text="*{purpose}"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">存放库房</label>
            <div class="layui-input-block">
                <input type="text" name="storeSiteNo" th:value="*{storeSiteNo}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="bottom">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="audit-edit">
            <i class="layui-icon layui-icon-ok"></i> 保存
        </button>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MP = rootPath + "/precAudit/";
        form.on('submit(audit-edit)', function (data) {
            $.ajax({
                url: MP + 'edit', data: data.field, dataType: 'json', type: 'post',
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload('audit-table');
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 1800});
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
